:root {
  --background: #f5f7fa;
  --primaryText: #333333;
  --headings: #005a9e;
  --accentColor: #ff5722; /* Buttons, Links */
  --secondaryAccent: #ffc107; /* Hover Effects */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  background-color: var(--background);
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.left {
  min-height: 50vh;
  margin-top: 4rem;
}

.left h1 {
  color: var(--headings);
  font-size: 3em;
  margin-left: 8rem;
  margin-bottom: 10px;
}

.left p {
  color: var(--primaryText);
  width: 60%;
  margin-left: 8rem;
  text-align: left;
  font-size: 1em;
  line-height: 2;
}

.right img {
  position: relative;
  top: 0%;
  right: 40%;
  width: 600px;
  height: 500px;
}
.second {
  display: flex;
  min-height: 50vh;
  padding: 20px 20px 4rem 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.second:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.second h2 {
  font-size: 2rem;
  margin-left: 8rem;
}

.second .right {
  margin-top: 4rem;
  padding-right: 8rem;
}

.second .right h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.second .right ul li {
  margin-bottom: 1rem;
}

.third {
  min-height: 50vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.third:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.third h2 {
  font-size: 2rem;
  margin-left: 8rem;
}

.third > div {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3rem;
  margin: 0 5.5rem 0 5.5rem;
  padding: 2rem;
}

.third-grid div {
  border-radius: 1rem;
  text-align: center;
  line-height: 1.5;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.third-grid div:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.third-grid span {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.third-grid .static {
  text-decoration-color: rgb(36, 36, 191);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.third-grid .dynamic {
  text-decoration-color: rgb(13, 156, 20);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.third-grid .comm {
  text-decoration-color: rgb(204, 6, 6);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.third-grid .cms {
  text-decoration-color: rgb(196, 170, 5);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.third-grid .web {
  text-decoration-color: rgb(184, 207, 8);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.third-grid .port {
  text-decoration-color: rgb(155, 5, 175);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.third-grid .busi {
  text-decoration-color: rgb(214, 90, 2);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.third-grid .social {
  text-decoration-color: rgb(6, 201, 182);
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}

.fourth {
  background-color: rgb(12, 186, 102);
}

.fifth {
  background-color: rgb(181, 23, 112);
}

.sixth {
  background-color: rgb(226, 13, 98);
}
